button {
    position: relative;
    left: 500px;
    top: 300px;
    border-radius: 20px;
    background-image: linear-gradient(blue,red);
    animation-duration: 3s;
    animation-name: best;
    padding: 10px;
    animation-iteration-count: infinite;
}

@keyframes best {
    from {
        background-image: linear-gradient(to top right,blue,red);
        background-position: 0 0;
        
    }
    to {
        background-image: linear-gradient(to top right,purple,yellow,blue);
        background-position: 100px 0;
      
    }
}